body {
    font-family: "Lato", sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

footer {
    margin-bottom: 20px;
}

.spacer-vertical {
    margin: 20px 0;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 58px;
}

.title-logo {
    margin-top: 20px;
    width: 4em;
}